.todo {
  padding: 10px;
  .add-todo {
    text-align: left;
    display: flex;
    align-items: center;
    .input-basic__wrap {
      width: 480px;
      padding: 10px 20px 10px 0;
    }
  }

  .todo-list {
    width: 600px;
    .filter-state {
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      .hi-v4-radio {
        width: 80px;
      }
    }
    .active {
      color: green;
    }
    .done {
      color: blue;
    }
    .close {
      color: red;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      th, td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
      }
    }
  }
}
